extends layout 

block content 
  h1= title 
  a(href="/") Back 
  
  form(method="POST", action="/new")
    label(for="text")
      span Text
      input(type="text", name="text" required)
    label(for="artist")
      span Artist
      input(type="text", name="artist" required) 
    label(for="user")
      span Your Name
      input(type="text", name="user" required)
    button(type="submit") SUBMIT